{% extends 'layout.html' %} {% block style %}
<style>
#index {
    padding: 50px 60px;
}

#index #timelines {
    margin-bottom: 20px;
}

#index .form-group {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 120px;
}

#index #token {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

#index #search {
    font-size: 18px;
    text-align: center;
}

#index #search span {
    border: 1px solid #666;
    padding: 8px 24px;
    border-radius: 5px;
    position: relative;
    top: 60px;
    color: #666;
    transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
    transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

#index #search span:hover {
    cursor: pointer;
    background-color: #666;
    color: #fff;
}
</style>
{% endblock %} {% block body %}
<div id="index">
    <div id="timelines">
        <svg width="1024" height="200">
            <g></g>
        </svg>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="keyword" placeholder="输入关键词">
        <input type="password" class="form-control" id="token" placeholder="输入Token">
        <div id="search"><span>搜索</span></div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#index #search').click(function(event) {
        var keyword = $('#index #keyword').val();
        if (keyword != '') {
            // $('#index #search span').text('');
            $.ajax({
                    url: '{{url_for("search")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        keyword: keyword,
                        token: $('#index #token').val()
                    },
                })
                .done(function(data) {
                    console.log(data);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
        }
    });
});
</script>
{% endblock %}