{% extends 'layout.html' %} {% block style %}
<style>
#timeline {
    padding: 50px 60px;
    position: relative;
}

#timeline #distribution {
    text-align: center;
    position: relative;
}

#timeline #distribution #control_panel {
    color: #666;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px;
}

#timeline #distribution #control_panel .controller {
    margin-bottom: 3px;
}

#timeline #distribution #control_panel .controller:hover {
    cursor: pointer;
}

#timeline #distribution #control_panel .controller:hover>div {
    border: 2px #666 solid;
}

#timeline #distribution #control_panel .controller>div {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

#timeline #distribution #control_panel #distribution_mode {
    margin-top: 15px;
}

#timeline #distribution #control_panel #distribution_mode:hover {
    cursor: pointer;
}

#timeline #distribution #control_panel #distribution_mode div {
    display: inline-block;
    height: 18px;
    width: 20px;
    background: none;
    border: 1px solid #FF7772;
    position: relative;
    top: 3px;
    transition: background-color .6s;
    -o-transition: background-color .6s;
    -ms-transition: background-color .6s;
    -moz-transition: background-color .6s;
    -webkit-transition: background-color .6s;
}

#timeline #distribution #control_panel #distribution_mode div#mode1 {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 8px;
}

#timeline #distribution #control_panel #distribution_mode div#mode2 {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#timeline #distribution #control_panel #distribution_mode div.active {
    background-color: #FF7772;
}

#timeline #distribution text {
    fill: #666;
}

#timeline #distribution rect:hover,
#timeline #distribution rect.active {
    cursor: pointer;
    stroke: #222;
}

#timeline #detail {
    padding-top: 50px;
}

#timeline #detail #section1,
#section2,
#section3 {
    background-color: #fdfdfd;
    box-shadow: 0px 0px 20px #B5B5B5;
    border-radius: 10px;
}

#timeline #detail #section1 .headline,
#timeline #detail #section3 .headline {
    box-shadow: 0px 3px 5px #B5B5B5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 10px;
}

#timeline #detail #section1 .headline h4,
#timeline #detail #section3 .headline h4 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

#timeline #detail #section1 tr:first-child td {
    border-top: none;
}

#timeline #detail #section1 tr:hover {
    cursor: pointer;
}

#timeline #detail #section1 tr.active td {
    background-color: #666;
    color: #fff;
}

#timeline #detail #section1 table th {
    text-align: center;
    color: #333;
    border-top: none;
}

#timeline #detail #section1 table td {
    color: #555;
}

#timeline #detail #section1 table tr span.full,
#timeline #detail #section1 table tr.active span.abstract {
    display: none;
}

#timeline #detail #section1 table tr.active span.full,
#timeline #detail #section1 table tr span.abstract {
    display: block;
}

#timeline #detail #section2 {
    padding: 0;
}

#timeline #detail #section2 h4 {
    color: #fff;
    padding: 10px 15px;
    line-height: 1.3;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 3px 5px #B5B5B5;
}

#timeline #detail #section2 div {
    font-size: 13px;
    color: #666;
    line-height: 1.6;
    padding: 15px 20px;
}

#timeline #detail #section2 div p {
    text-indent: 2em;
}

#timeline #detail #section2 div p:last-child {
    margin-bottom: 0;
}

#timeline #detail #section2 div p span {
    background-color: #FF7772;
    color: #fff;
}

#timeline #viewpoint {
    position: absolute;
    right: 95px;
    top: 255px;
    padding: 6px 8px;
    border: 1px solid #666;
    color: #666;
    border-radius: 3px;
    transition: color, background-color .6s;
    -o-transition: color, background-color .6s;
    -ms-transition: color, background-color .6s;
    -moz-transition: color, background-color .6s;
    -webkit-transition: color, background-color .6s;
    z-index: 99;
}

#timeline #viewpoint:hover {
    cursor: pointer;
    color: white;
    background-color: #FF7772;
    border-color: #FF7772;
}

#timeline #part2 {
    display: none;
}
#timeline #part2 #threeD1, #timeline #part2 #threeD2 {
    text-align: center;
}
#timeline #infobox {
    position: absolute;
    display: none;
    max-width: 250px;
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(20,20,20,0.4);
}
#timeline #infobox h5 {
    margin-top: 0;
    font-size: 13px;
    line-height: 1.2;
}
#timeline #infobox p {
    font-size: 12px;
    color: #666;
    margin-bottom: 0;
}
#timeline #infotime {
    margin-right: 10px;
}
#timeline #threeD2 svg g line {
    transition: stroke .3s;
    -o-transition: stroke .3s;
    -ms-transition: stroke .3s;
    -moz-transition: stroke .3s;
    -webkit-transition: stroke .3s;
}
#timeline #threeD2 svg g line:hover {
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.3);
}
#timeline #threeD1 svg g circle {
    transition: fill .3s;
    -o-transition: fill .3s;
    -ms-transition: fill .3s;
    -moz-transition: fill .3s;
    -webkit-transition: fill .3s;
}
#timeline #threeD1 svg g circle:hover {
    cursor: pointer;
    fill: #eee;
}
#timeline #threeD1 svg g line.link.active {
    stroke: #FF7772;
    stroke-width: 1;
}
</style>
{% endblock %} {% block body %}
<div id="timeline">
    <div id="infobox">
        <h5></h5>
        <p><span id="infotime"></span><span id="infocate"></span></p>
    </div>
    <div id="viewpoint">新闻视图</div>
    <div id="part1" style="height:725px;">
        <div id="distribution">
            <div id="control_panel"></div>
            <svg width='1024px' height='320px'>
                <g></g>
            </svg>
        </div>
        <div id="detail">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div id="section2">
                        <h4>&nbsp;</h4>
                        <div style="overflow-y:scroll;height:307px;"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div id="section1">
                        <div class="headline">
                            <h4 style='width:50px;'>分类</h4>
                            <h4 style='width:55px;'>日期</h4>
                            <h4 style='width:100px;'>内容</h4>
                        </div>
                        <div style="height:307px;overflow-y:scroll;padding:10px 20px;">
                            <table class="table table-hover" style="margin-bottom:0;">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div id="section3">
                        <div class="headline">
                            <h4 style="width:100px;text-align:center">&nbsp;</h4>
                        </div>
                        <div id='knowledge' style="height:307px;overflow:hidden;padding:10px 20px;text-align:center;">
                            <svg width='300px' height='290px'>
                                <g></g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part2">
        <div id="threeD1" style="height:550px;">
            <svg width='1024px' height='550px'>
                <g></g>
            </svg>
        </div>
        <div id="threeD2" style="height:175px;">
            <svg width='1024px' height='175px'>
                <g></g>
            </svg>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var height = 320, height1 = 550, height2 = 175;
    $('#distribution svg').append($(document.createElementNS("http://www.w3.org/2000/svg", "line")).attr({
        'x1': 24,
        'y1': height - 20,
        'x2': 1000,
        'y2': height - 20,
        'stroke': '#000',
        'stroke-width': 1
    }));

    var axis = eval({{axis|safe}});
    var interX = Math.floor(976 / axis['slot']),
        startX = parseInt((976 - interX * axis['slot']) / 2) + 24,
        endX = 1024 - startX;

    for (var i = 0; i <= axis['slot']; i++) {
        $('#distribution svg').append($(document.createElementNS("http://www.w3.org/2000/svg", "line")).attr({
            'x1': startX + i * interX,
            'y1': height - 25,
            'x2': startX + i * interX,
            'y2': height - 20,
            'stroke': '#000',
            'stroke-width': 1
        }));
        $('#distribution svg').append($(document.createElementNS("http://www.w3.org/2000/svg", "text")).attr({
            'x': startX + i * interX - 20,
            'y': height,
        }).text(axis['xs'][i]));
    }

    var elements = eval({{timeline|safe}});
    var news = eval({{news|safe}});
    var maxnum = eval({{maxnum|safe}});
    var colors = new Array();
    colors['1'] = "#FC9D9A";
    colors['2'] = "#F9CDAD";
    colors['3'] = "#C8C8A9";
    colors['4'] = "#83AF9B";
    colors['6'] = "#E49AFC";
    colors['7'] = "#67AEDA";
    var status = new Array();
    status['1'] = true;
    status['2'] = true;
    status['3'] = true;
    status['4'] = true;
    status['6'] = true;
    status['7'] = true;
    var flag = true;
    categories = new Array();
    categories['1'] = '新闻背景';
    categories['2'] = '事实陈述';
    categories['3'] = '事件演化';
    categories['4'] = '各方态度';
    categories['6'] = '直接关联';
    categories['7'] = '暂无关联';
    for (var i = 1, j = 0; i < 8; i++) {
        if (!colors.hasOwnProperty(i)) continue;
        j++;
        $('#distribution #control_panel').append("<div class='controller' id='controller" + i + "'><div style='width:16px;height:12px;background-color:" + colors[i] + "'></div> " + categories[i] + "</div>")
    }
    $('#distribution #control_panel').append("<div id='distribution_mode'><span>堆叠<span/><div class='active' id='mode1'></div><div id='mode2'></div></div>");

    $('#distribution #distribution_mode').click(function() {
        if (flag) {
            flag = !flag;
            $('#distribution #distribution_mode #mode1').removeClass('active');
            $('#distribution #distribution_mode #mode2').addClass('active');
        } else {
            flag = !flag;
            $('#distribution #distribution_mode #mode2').removeClass('active');
            $('#distribution #distribution_mode #mode1').addClass('active');
        }
        if (flag) {
            distribution();
        } else {
            distribution1();
        }
    });
    $('#timeline #distribution .controller').click(function() {
        var rect = $(this);
        var tmp = rect.attr('id').charAt(rect.attr('id').length - 1);
        if (status[tmp]) {
            status[tmp] = false;
            rect.css('color', '#bbb');
            rect.children('div').css('background-color', '#bbb');
        } else {
            status[tmp] = true;
            rect.css('color', '#666');
            rect.children('div').css('background-color', colors[tmp]);
        }
        if (flag) {
            distribution();
        } else {
            distribution1();
        }
    });

    var curves = eval({{curves|safe}});
    var curve1 = d3.svg.line().x(function(d) {
        return parseInt(parseFloat(d[0]) * (endX - startX)) + startX;
    }).y(function(d) {
        return 0;
    }).interpolate('basis');
    var curve2 = d3.svg.line().x(function(d) {
        return parseInt(parseFloat(d[0]) * (endX - startX)) + startX;
    }).y(function(d) {
        return height - 20 - d[1] * Math.floor((height - 20) / maxnum['line']);
    }).interpolate('basis');

    for (var k in curves) {
        d3.select('#distribution svg g').append('path').style("opacity", 1e-6).attr('d', curve1(curves[k])).attr({
            fill: 'none',
            stroke: colors[k],
            name: k
        }).transition().duration(600).attr('d', curve2(curves[k])).style("opacity", 1).style("z-index", 999);
    }

    distribution();

    function distribution() {
        $('#distribution svg line.refers').remove();

        var yPos = new Array();
        var data = new Array();
        var data1 = new Array();
        data1['1'] = [];
        data1['2'] = [];
        data1['3'] = [];
        data1['4'] = [];
        data1['6'] = [];
        data1['7'] = [];
        for (var i = 0; i < elements.length; i++) {
            if (status[elements[i]['tag']]) {
                data1[elements[i]['tag'].toString()].push(i);
                data.push(i);
            }
        }
        data1 = data1['1'].concat(data1['2']).concat(data1['3']).concat(data1['4']).concat(data1['6']).concat(data1['7']);

        for (var k in status) {
            if (status[k]) {
                $('#distribution svg g path[name="' + k + '"]').animate({
                    opacity: 1
                }, 600);
            } else {
                $('#distribution svg g path[name="' + k + '"]').animate({
                    opacity: 0
                }, 600);
            }
        }

        var text = d3.select('#distribution svg g').selectAll('rect').data(data1, function(d) {
            return d;
        });
        text.transition().duration(600).attr('transform', function(d) {
            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (yPos.hasOwnProperty(tmp)) {
                yPos[tmp] += 1;
            } else {
                yPos[tmp] = 1;
            }
            return 'translate(' + tmp + ',' + (height - 25 - yPos[tmp] * parseInt((height - 25) / maxnum['stack'])) + ')';
        }).attr({
            'height': parseInt((height - 25) / maxnum['stack'] * 0.8),
        });
        text.enter().append('rect').attr({
            'width': 16,
            'height': parseInt((height - 25) / maxnum['stack'] * 0.8),
            'fill': function(d) {
                return colors[elements[d]['tag']];
            },
            'transform': function(d) {
                var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
                return 'translate(' + tmp + ',' + (height - 40) + ')';
            },
            'name': function(d) {
                return d;
            }
        }).transition().duration(600).attr('transform', function(d) {
            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (yPos.hasOwnProperty(tmp)) {
                yPos[tmp] += 1;
            } else {
                yPos[tmp] = 1;
            }
            return 'translate(' + tmp + ',' + (height - 25 - yPos[tmp] * parseInt((height - 25) / maxnum['stack'])) + ')';
        });
        text.exit().transition().duration(600).attr('transform', function(d) {
            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (Math.random() > 0.5) {
                return 'translate(0, 0)';
            } else {
                return 'translate(1024, 0)';
            }
        }).style("fill-opacity", 1e-6).remove();

        $('#timeline #section1 table tr').remove();
        for (var i = 0; i < data.length; i++) {
            $('#timeline #section1 table').append($("<tr name='" + data[i] + "'><td style='width:50px;'><div style='position:relative;left:7px;height:16px;width:20px;background-color:" + colors[elements[data[i]]['tag']] + "'></div></td><td style='width:55px;'>" + elements[data[i]]['timestamp'].substr(5) + "</td><td><span  class='abstract'>" + elements[data[i]]['sentence'].substr(0, 20) + "...</span><span class='full'>" + elements[data[i]]['sentence'] + "</span></td></tr>"));
        }
    }

    function distribution1() {
        var yPos = new Array();
        var current = 0;
        var data = new Array();
        var data1 = new Array();
        var indexs = new Array();
        data1['1'] = [];
        data1['2'] = [];
        data1['3'] = [];
        data1['4'] = [];
        data1['6'] = [];
        data1['7'] = [];
        indexs['1'] = [];
        indexs['2'] = [];
        indexs['3'] = [];
        indexs['4'] = [];
        indexs['6'] = [];
        indexs['7'] = [];
        for (var i = 0; i < elements.length; i++) {
            if (status[elements[i]['tag']]) {
                data1[elements[i]['tag'].toString()].push(i);
                if (data1[elements[i]['tag'].toString()].length == 1) {
                    indexs[elements[i]['tag'].toString()].push(1);
                } else {
                    indexs[elements[i]['tag'].toString()].push(0);
                }
                data.push(i);
            }
        }
        data1 = data1['1'].concat(data1['2']).concat(data1['3']).concat(data1['4']).concat(data1['6']).concat(data1['7']);
        indexs = indexs['1'].concat(indexs['2']).concat(indexs['3']).concat(indexs['4']).concat(indexs['6']).concat(indexs['7']);

        $('#distribution svg g path').animate({
            opacity: 0
        }, 600);

        $('#distribution svg line.refers').remove();

        var text = d3.select('#distribution svg g').selectAll('rect').data(data1, function(d) {
            return d;
        });
        text.transition().duration(600).attr('transform', function(d, i) {
            if (indexs[i] && i > 0) {
                var t = 0;
                for (var k in yPos) {
                    if (yPos[k] > t) {
                        t = yPos[k];
                    }
                }
                yPos = new Array();
                current += t * parseInt((height - 25) / maxnum['band']);
                $('#distribution svg').append($(document.createElementNS("http://www.w3.org/2000/svg", "line")).attr({
                    'x1': 24,
                    'y1': height - 25 - current,
                    'x2': 1000,
                    'y2': height - 25 - current,
                    'stroke': '#ccc',
                    'stroke-width': 1,
                    'class': 'refers'
                }));
            }

            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (yPos.hasOwnProperty(tmp)) {
                yPos[tmp] += 1;
            } else {
                yPos[tmp] = 1;
            }

            var result = 'translate(' + tmp + ',' + (height - 25 - yPos[tmp] * parseInt((height - 25) / maxnum['band']) - current) + ')';
            return result;
        }).attr({
            'height': parseInt((height - 25) / maxnum['band'] * 0.8)
        });
        text.enter().append('rect').attr({
            'width': 16,
            'height': parseInt((height - 25) / maxnum['band'] * 0.8),
            'fill': function(d) {
                return colors[elements[d]['tag']];
            },
            'transform': function(d) {
                var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
                return 'translate(' + tmp + ',' + (height - 40) + ')';
            },
            'name': function(d) {
                return d;
            }
        }).transition().duration(600).attr('transform', function(d, i) {
            if (indexs[i] && i > 0) {
                var t = 0;
                for (var k in yPos) {
                    if (yPos[k] > t) {
                        t = yPos[k];
                    }
                }
                yPos = new Array();
                current += t * parseInt((height - 25) / maxnum['band']);
                $('#distribution svg').append($(document.createElementNS("http://www.w3.org/2000/svg", "line")).attr({
                    'x1': 24,
                    'y1': height - 25 - current,
                    'x2': 1000,
                    'y2': height - 25 - current,
                    'stroke': '#ccc',
                    'stroke-width': 1,
                    'class': 'refers'
                }));
            }

            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (yPos.hasOwnProperty(tmp)) {
                yPos[tmp] += 1;
            } else {
                yPos[tmp] = 1;
            }

            var result = 'translate(' + tmp + ',' + (height - 25 - yPos[tmp] * parseInt((height - 25) / maxnum['band']) - current) + ')';

            return result;
        });
        text.exit().transition().duration(600).attr('transform', function(d) {
            var tmp = startX + parseInt((endX - startX) * elements[d]['x']) - 8;
            if (Math.random() > 0.5) {
                return 'translate(0, 0)';
            } else {
                return 'translate(1024, 0)';
            }
        }).style("fill-opacity", 1e-6).remove();

        $('#timeline #section1 table tr').remove();
        for (var i = 0; i < data.length; i++) {
            $('#timeline #section1 table').append($("<tr name='" + data[i] + "'><td style='width:50px;'><div style='position:relative;left:7px;height:16px;width:20px;background-color:" + colors[elements[data[i]]['tag']] + "'></div></td><td style='width:55px;'>" + elements[data[i]]['timestamp'].substr(5) + "</td><td><span  class='abstract'>" + elements[data[i]]['sentence'].substr(0, 20) + "...</span><span class='full'>" + elements[data[i]]['sentence'] + "</span></td></tr>"));
        }
    }

    function choose(num) {
        $('#timeline #distribution svg g rect').attr('class', '');
        $('#timeline #distribution svg g rect[name="' + num + '"]').attr('class', 'active');

        $('#timeline #detail #section1 table tr').removeClass('active');
        $('#timeline #detail #section1 table tr[name="' + num + '"]').addClass('active');
        $('#timeline #detail #section2 h4').css('background-color', colors[elements[num]['tag']]);
        $('#timeline #detail #section3 h4').text('知识图谱');
        var tmp, sentence = elements[num]['sentence'];
        for (var i = 0; i < news.length; i++) {
            if (news[i]['title'] == elements[num]['title']) {
                tmp = news[i];
                break;
            }
        }

        $('#timeline #detail #knowledge .link').remove();
        $('#timeline #detail #knowledge .node').remove();

        var force = d3.layout.force()
            .charge(-250)
            .linkDistance(90)
            .size([300, 290]);

        force
            .nodes(tmp['knowledge'].nodes)
            .links(tmp['knowledge'].links)
            .start();

        var link = d3.select('#knowledge svg g').selectAll(".link")
            .data(tmp['knowledge'].links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) {
                return Math.floor(Math.sqrt(2 * d.value));
            }).style("stroke", "rgba(200,200,200,0.8)");

        // var node = d3.select('#knowledge svg g').selectAll(".node")
        //     .data(tmp['knowledge'].nodes)
        //     .enter().append("circle")
        //     .attr("class", "node")
        //     .attr("r", 5)
        //     .style("fill", function(d) {
        //         return colors[d.group];
        //     })
        //     .call(force.drag);
        var node = d3.select('#knowledge svg g').selectAll(".node")
            .data(tmp['knowledge'].nodes)
            .enter().append("text")
            .attr("class", "node")
            .text(function(d) {
                return d.name;
            })
            .style("fill", function(d) {
                if (d.group == 1) {
                    return "#FC9D9A";
                } else {
                    return "#67AEDA";
                }
            })
            .style("font-size", "15px")
            .call(force.drag);

        // node.append("title")
        //     .text(function(d) {
        //         return d.name;
        //     });

        force.on("tick", function() {
            link.attr("x1", function(d) {
                    return d.source.x;
                })
                .attr("y1", function(d) {
                    return d.source.y;
                })
                .attr("x2", function(d) {
                    return d.target.x;
                })
                .attr("y2", function(d) {
                    return d.target.y;
                });

            node.attr("x", function(d) {
                    return d.x;
                })
                .attr("y", function(d) {
                    return d.y;
                })
                .attr("dy", 6)
                .attr("dx", function(d) {
                    return -d.name.length * 7.5;
                })
                .style('background-color', '#f5f5f5');
        });

        $('#timeline #detail #section2 h4').text(tmp['title']);
        $('#timeline #detail #section2 div').height(300 - $('#timeline #detail #section2 h4').height());
        $('#timeline #detail #section2 div p').remove();
        tmp = tmp['content'].split('<br/>');
        for (var i = 0; i < tmp.length; i++) {
            if (tmp[i] != '') {
                if (tmp[i].indexOf(sentence) >= 0) {
                    var s1 = tmp[i].substr(0, tmp[i].indexOf(sentence)),
                        s2 = tmp[i].substr(tmp[i].indexOf(sentence), sentence.length),
                        s3 = tmp[i].substr(tmp[i].indexOf(sentence) + sentence.length);
                    $('#timeline #detail #section2 div').append('<p>' + s1 + '<span>' + s2 + '</span>' + s3 + '</p>');
                } else {
                    $('#timeline #detail #section2 div').append('<p>' + tmp[i] + '</p>')
                }
            }
        }
        if ($('#timeline #detail #section2 div').has('span').length) {
            var diff = $('#timeline #detail #section2 div span').offset().top - $('#timeline #detail #section2 div p:first-child').offset().top;
            if (diff > 80) {
                $('#timeline #detail #section2 div').animate({
                    scrollTop: diff - 80
                }, 300);
            }
        }

        diff = $('#timeline #detail #section1 tr[name="' + num + '"]').offset().top - $('#timeline #detail #section1 tr:first-child').offset().top;
        if (diff > 100) {
            $('#timeline #detail #section1 div:last-child').animate({
                scrollTop: diff - 80
            }, 300);
        }
    }

    $('#timeline #detail #section1 table').on('click', 'tr', function() {
        choose($(this).attr('name'));
    });
    $('#timeline #distribution svg g').on('click', 'rect', function() {
        choose($(this).attr('name'));
    });

    var newsview = false;
    var firstChangeView = true;

    $('#timeline #viewpoint').click(function(event) {
        if (newsview) {
            $('#timeline #viewpoint').text('新闻视图');
            $('#timeline #part2').fadeOut('fast', function() {
                newsview = !newsview;
                $('#timeline #part1').fadeIn('fast');
            });
        }
        else {
            $('#timeline #viewpoint').text('时间线图');
            $('#timeline #part1').fadeOut('fast', function() {
                newsview = !newsview;
                $('#timeline #part2').fadeIn('fast', function(){
                    if (firstChangeView) {
                        draw3DAxis();
                        firstChangeView = false;
                    }
                });
            });
        }
    });

    var sidelength = 300;
    var dayselect = [];
    var coordSpace = [];
    var coordPoint = [];
    var coordLine = [];
    var coordStat = [];
    var coordCont = [];
    var idtoindex = new Array();
    var circleradius = 0;

    function draw3DAxis() {
        // 1图坐标轴
        var axis = new Array();
        axis[0] = {
            from: {
                x: sidelength + 24,
                y: sidelength + 24
            },
            to: {
                x: 0,
                y: sidelength + 24
            },
            width: 1,
            color: '#555'
        };
        axis[1] = {
            from: {
                x: sidelength + 24,
                y: sidelength + 24
            },
            to: {
                x: sidelength + 24,
                y: 0
            },
            width: 1,
            color: '#555'
        };
        axis[2] = {
            from: {
                x: sidelength + 24,
                y: sidelength + 24
            },
            to: {
                x: 1024,
                y: height1
            },
            width: 2,
            color: '#999'
        };
        axis[3] = {
            from: {
                x: 0,
                y: sidelength + 24
            },
            to: {
                x: 10,
                y: sidelength + 20
            },
            width: 2,
            color: '#999'
        };
        axis[4] = {
            from: {
                x: 0,
                y: sidelength + 24
            },
            to: {
                x: 10,
                y: sidelength + 28
            },
            width: 2,
            color: '#999'
        };
        axis[5] = {
            from: {
                x: sidelength + 24,
                y: 0
            },
            to: {
                x: sidelength + 28,
                y: 10
            },
            width: 2,
            color: '#999'
        };
        axis[6] = {
            from: {
                x: sidelength + 24,
                y: 0
            },
            to: {
                x: sidelength + 20,
                y: 10
            },
            width: 2,
            color: '#999'
        };
        axis[7] = {
            from: {
                x: 1024,
                y: height1
            },
            to: {
                x: 1010,
                y: height1 - 1
            },
            width: 2,
            color: '#999'
        };
        axis[8] = {
            from: {
                x: 1024,
                y: height1
            },
            to: {
                x: 1015,
                y: height1 - 7
            },
            width: 2,
            color: '#999'
        };

        d3.select('#threeD1 svg g').selectAll('line').data([0,1,2,3,4,5,6,7,8]).enter().append('line').attr({
            'stroke': function(d){
                return axis[d].color
            },
            'stroke-width': function(d){
                return axis[d].width
            },
            x1: function(d){
                return axis[d].from.x
            },
            y1: function(d){
                return axis[d].from.y
            },
            x2: function(d){
                return axis[d].from.x
            },
            y2: function(d){
                return axis[d].from.y
            }
        }).style('z-index', -1).transition().delay(function(d){
            if (d > 2) {
                return 400
            }
            else {
                return 0
            }
        }).duration(600).attr({
            x2: function(d){
                return axis[d].to.x
            },
            y2: function(d){
                return axis[d].to.y
            }
        });
        // 2图坐标轴
        var axis = new Array();
        axis[0] = {
            from: {
                x: 512,
                y: height2 - 20
            },
            to1: {
                x: 24,
                y: height2 - 20
            },
            to2: {
                x: 1000,
                y: height2 - 20
            },
            width: 1,
            color: '#444'
        };
        var axisData = eval({{axis|safe}});
        var text = axisData['xs'];
        var slot = axisData['slot'];
        var data = [0];

        for (var i = 1; i < slot; i++) {
            var tmp = {
                from: {
                    x: parseInt(startX + (endX - startX) * i / slot),
                    y: height2 - 20
                },
                to1: {
                    x: parseInt(startX + (endX - startX) * i / slot),
                    y: height2 - 20
                },
                to2: {
                    x: parseInt(startX + (endX - startX) * i / slot),
                    y: height2 - 25
                },
                width: 1,
                color: '#444'
            };
            axis.push(tmp);
            data.push(i);
        }

        d3.select('#threeD2 svg').selectAll('line').data(data).enter().append('line').attr({
            'stroke': function(d){
                return axis[d].color
            },
            'stroke-width': function(d){
                return axis[d].width
            },
            x1: function(d){
                return axis[d].from.x
            },
            y1: function(d){
                return axis[d].from.y
            },
            x2: function(d){
                return axis[d].from.x
            },
            y2: function(d){
                return axis[d].from.y
            }
        }).transition().delay(function(d){
            if (d > 0) {
                return 400
            }
            else {
                return 0
            }
        }).duration(600).attr({
            x1: function(d){
                return axis[d].to1.x
            },
            y1: function(d){
                return axis[d].to1.y
            },
            x2: function(d){
                return axis[d].to2.x
            },
            y2: function(d){
                return axis[d].to2.y
            }
        });
        // 2图坐标轴标签
        d3.select("#threeD2 svg").selectAll("text").data(text).enter().append("text").text(function(d){
            return d
        }).attr({
            "fill": '#666',
            "fill-opacity": 1e-6,
            "transform": function(d, i){
                return "translate(" + parseInt(startX + (endX - startX) * i / slot - 20) + "," + height2 + ")"
            }
        }).transition().delay(400).duration(600).attr('fill-opacity', 1);;

        var curves3D = eval({{curves3D|safe}});
        var curves3DMax = {{curves3DMax}};

        var area = d3.svg.area().x(function(d) { 
            return x(d.x) + 24 
        }).y0(function(d) {
            return y(d.y0) 
        }).y1(function(d) { 
            return y(d.y0 + d.y)
        });
        var x = d3.scale.linear().domain([0, 1]).range([0, 976]);
        var y = d3.scale.linear().domain([0, curves3DMax]).range([height2 - 20, 0]);
        var stack = d3.layout.stack().offset("zero");
        curves3D = stack(curves3D);
        // 2图堆叠图
        d3.select('#threeD2 svg g').selectAll("path").data(curves3D).enter().append("path").attr({
            "fill": function(d, i){ 
                var tmp = ['1', '2', '3', '4', '6', '7'];
                return colors[tmp[i]];
            },
            "d": area,
            "fill-opacity": 1e-6
        }).transition().delay(800).duration(600).attr('fill-opacity', 1);
        // 2图纵轴按钮
        for (var i = 0; i <= parseInt((axisData['newsendtime'] - axisData['newsbegintime']) / 3600 / 24); i++) {
            dayselect.push(0);
        }
        dayselect[0] = 1;
        var tmp = 1.0 / ((axisData['endtime'] - axisData['begintime']) / 3600 / 24);
        d3.select('#threeD2 svg g').selectAll('line').data(dayselect).enter().append('line').attr({
            x1: function(d, i){
                return (parseFloat((axisData['newsbegintime'] - axisData['begintime'])) / (axisData['endtime'] - axisData['begintime']) + i * tmp) * 976 + 24;
            },
            y1: height2 - 20,
            x2: function(d, i){
                return (parseFloat((axisData['newsbegintime'] - axisData['begintime'])) / (axisData['endtime'] - axisData['begintime']) + i * tmp) * 976 + 24;
            },
            y2: 0,
            name: function(d,i){
                return i;
            },
            'stroke': 'rgba(0,0,0,0)',
            'stroke-width': 30,
        }).transition().delay(800).duration(600).attr('stroke', function(d){
            if (d == 1) {
                return 'rgba(0,0,0,0.3)';
            }
            else {
                return 'rgba(0,0,0,0)';
            }
        });
        // 1图散点圆
        var mask = 0;
        for (var i = 0; i < dayselect.length; i++) {
            if (dayselect[i] == 1) {
                mask = i;
                break;
            }
        }
        var tmp = parseFloat(1)/((axisData['newsendtime'] - axisData['newsbegintime'])/3600/24);
        d3.select('#threeD1 svg g').selectAll('rect').data([1]).enter().append('rect').attr({
            'width': 0,
            'height': 0,
            'fill': 'rgba(200,200,200,0.5)',
            'transform': 'translate(324,324)',
        }).transition().delay(400).duration(600).attr({
            'width': sidelength,
            'height': sidelength,
            'transform': function(d){
                return 'translate(' + ((1024 - sidelength - 24) * tmp * mask + 24) + ',' + ((height1 - sidelength - 24) * tmp * mask + 24) + ')';
            }
        });

        var dailyMaxNews = 0;

        for (var i = 0; i <= (axisData['endtime'] - axisData['begintime'])/3600/24; i++) {
            var tmp = [];
            var sum = 0;
            for (var j = 0; j < 6; j++) {
                tmp.push(curves3D[j][i].y);
                sum += curves3D[j][i].y;
            }
            tmp.push(sum);
            for (var j = 0; j < 6; j++) {
                if (tmp[6] == 0) {
                    tmp[j] = 0;
                }
                else {
                    tmp[j] = parseFloat(tmp[j]) / tmp[6];    
                }
            }
            coordStat.push(tmp);
            if (sum > dailyMaxNews) {
                dailyMaxNews = sum;
            }
        }
        circleradius = sidelength / Math.sqrt(dailyMaxNews) / 8;

        var radius = sidelength / 3;
        var PI = 3.1415926;
        for (var i = 0; i <= (axisData['endtime'] - axisData['begintime'])/3600/24; i++) {
            var tmp = [];
            tmp['1'] = [];
            tmp['2'] = [];
            tmp['3'] = [];
            tmp['4'] = [];
            tmp['6'] = [];
            tmp['7'] = [];
            var cont = [];
            cont['1'] = [];
            cont['2'] = [];
            cont['3'] = [];
            cont['4'] = [];
            cont['6'] = [];
            cont['7'] = [];
            if (coordStat[i][6] == 0) {
                coordSpace.push(tmp);
                coordCont.push(cont);
                continue;
            }
            var tmap = [];
            var sum = 0;
            tmap.push('1');
            tmap.push('2');
            tmap.push('3');
            tmap.push('4');
            tmap.push('6');
            tmap.push('7');
            for (var j = 0; j < 6; j++) {
                if (coordStat[i][j] == 0) {
                    continue
                }
                var ratio = coordStat[i][j];
                var x = radius * Math.cos((ratio/2  + sum) * 2 * PI) + sidelength / 2;
                var y = radius * Math.sin((ratio/2  + sum) * 2 * PI) + sidelength / 2;
                tmp[tmap[j]].push([x,y]);
                cont[tmap[j]].push([sum, sum + ratio]);
                sum += ratio;
            }
            coordSpace.push(tmp);
            coordCont.push(cont);
        }

        var minspace = 3 * circleradius;
        var padding = 40;
        for (var i = 0; i < news.length; i++) {
            idtoindex[news[i]['id'].toString()] = i;
            var layer = parseInt((news[i]['timestamp'] - axisData['begintime'])/3600/24);
            var tmp = layer;
            layer = coordSpace[tmp][news[i]['tag'].toString()];
            for (;;) {
                var rad = Math.random() * 2 * PI;
                if (layer.length == 1) {
                    var x = layer[0][0] + Math.cos(rad) * minspace * Math.random() / 2;
                    var y = layer[0][1] + Math.sin(rad) * minspace * Math.random() / 2;

                    if (x > sidelength - padding || x < padding || y > sidelength - padding || y < padding) {
                        continue;
                    }

                    var trad = coordCont[tmp][news[i]['tag'].toString()][0];
                    var d1 = Math.abs(- Math.sin(trad[0] * 2 * PI) * (x - sidelength/2) + Math.cos(trad[0] * 2 * PI) * (y - sidelength/2));
                    var d2 = Math.abs(- Math.sin(trad[1] * 2 * PI) * (x - sidelength/2) + Math.cos(trad[1] * 2 * PI) * (y - sidelength/2));
                    if (d1 < circleradius || d2 < circleradius) {
                        continue
                    }

                    coordSpace[tmp][news[i]['tag'].toString()].push([x,y]);
                    coordPoint.push([x,y]);
                    break;
                }
                else {
                    var index = Math.floor(Math.random() * (layer.length - 1)) + 1;
                    var x = layer[index][0] + Math.cos(rad) * minspace;
                    var y = layer[index][1] + Math.sin(rad) * minspace;
                    
                    if (x > sidelength - padding || x < padding || y > sidelength - padding || y < padding) {
                        continue;
                    }

                    var trad = coordCont[tmp][news[i]['tag'].toString()][0];
                    var d1 = Math.abs(- Math.sin(trad[0] * 2 * PI) * (x - sidelength/2) + Math.cos(trad[0] * 2 * PI) * (y - sidelength/2));
                    var d2 = Math.abs(- Math.sin(trad[1] * 2 * PI) * (x - sidelength/2) + Math.cos(trad[1] * 2 * PI) * (y - sidelength/2));
                    if (d1 < circleradius || d2 < circleradius) {
                        continue
                    }

                    var collide = false;
                    for (var j = 1; j < layer.length; j++) {
                        if ((x - layer[j][0]) * (x - layer[j][0]) + (y - layer[j][1]) * (y - layer[j][1]) < minspace * minspace) {
                            collide = true;
                            break;
                        }
                    }
                    if (collide) {
                        continue;
                    }
                    else {
                        coordSpace[tmp][news[i]['tag'].toString()].push([x,y]);
                        coordPoint.push([x,y]);
                        break;
                    }
                }
            }
        }

        for (var i = 0; i < news.length; i++) {
            var links = news[i]['links'];
            
            if (links == '') {
                continue;
            }
            links = links.split(',');
            for (var j = 0; j < links.length; j++) {
                var tmp = links[j].split(':');
                if (idtoindex.hasOwnProperty(tmp[0])) {
                    coordLine.push([coordPoint[i][0], coordPoint[i][1], coordPoint[idtoindex[tmp[0]]][0], coordPoint[idtoindex[tmp[0]]][1], parseFloat(tmp[1]), news[i]['timestamp']]);
                }
            }
        }


        // 连线
        var lineindex = [];
        var tmp = axisData['newsendtime'] - axisData['newsbegintime'];
        for (var i = 0; i < coordLine.length; i++) {
            if (parseInt((coordLine[i][5] - axisData['newsbegintime'])/3600/24) == mask) {
                lineindex.push(i);
            }
        }
        d3.select("#threeD1 svg g").selectAll('.link').data(lineindex).enter().append("line").attr({
            'x1': function(d, i){
                var x = (1024 - sidelength - 24) * (coordLine[d][5] - axisData['newsbegintime']) / tmp;
                return parseInt(x + coordLine[d][0] + 24);
            },
            'y1': function(d, i){
                var y = (height1 - sidelength - 24) * (coordLine[d][5] - axisData['newsbegintime']) / tmp;
                return parseInt(y + coordLine[d][1] + 24);
            },
            'x2': function(d, i){
                var x = (1024 - sidelength - 24) * (coordLine[d][5] - axisData['newsbegintime']) / tmp;
                return parseInt(x + coordLine[d][2] + 24);
            },
            'y2': function(d, i){
                var y = (height1 - sidelength - 24) * (coordLine[d][5] - axisData['newsbegintime']) / tmp;
                return parseInt(y + coordLine[d][3] + 24);
            },
            'stroke': '#666',
            'stroke-width': 1,
            'opacity': '0',
            'class': 'link'
        }).transition().delay(function(d, i){
            return 1000 + i * 10;
        }).duration(function(d, i){
            return 300;
        }).attr('opacity', function(d, i){
            return coordLine[d][4];
        });

        // 画点
        var newsindex = [];
        for (var i = 0; i < news.length; i++) {
            if (parseInt((news[i]['timestamp'] - axisData['newsbegintime'])/3600/24) == mask) {
                newsindex.push(i);
            }
        }
        var tmp = axisData['newsendtime'] - axisData['newsbegintime'];
        d3.select("#threeD1 svg g").selectAll('circle').data(newsindex).enter().append("circle").attr({
            'cx': function(d, i){
                var x = (1024 - sidelength - 24) * (news[d]['timestamp'] - axisData['newsbegintime']) / tmp;
                return parseInt(x + coordPoint[d][0] + 24);
            },
            'cy': function(d, i){
                var y = (height1 - sidelength - 24) * (news[d]['timestamp'] - axisData['newsbegintime']) / tmp;
                return parseInt(y + coordPoint[d][1] + 24) + 20;
            },
            'r': circleradius,
            "fill": function(d, i){
                return colors[news[d]['tag'].toString()];
            },
            'name': function(d){
                return d;
            },
            "fill-opacity": 1e-6
        }).transition().delay(800).duration(600).attr({
            'fill-opacity': function(d, i){
                return 1;
            },
            'cy': function(d, i){
                var y = (height1 - sidelength - 24) * (news[d]['timestamp'] - axisData['newsbegintime']) / tmp;
                return parseInt(y + coordPoint[d][1] + 24);
            },
        });
    }

    $('#threeD2 svg g').on('click', 'line', function(){
        $('#threeD2 svg g line').attr('stroke', 'rgba(0,0,0,0)');
        $(this).attr('stroke', 'rgba(0,0,0,0.3)');
        chooseDay($(this).attr('name'));
    });

    $('#threeD1 svg g').on('mouseover', 'circle', function(event) {
        event.preventDefault();
        var newsid = $(this).attr('name');
        $('#infobox h5').css('color', $(this).attr('fill')).text(news[newsid]['title']);
        var newDate = new Date();
        newDate.setTime(news[newsid]['timestamp'] * 1000);
        $('#infobox #infotime').text(newDate.toJSON().substr(0, 10));
        $('#infobox #infocate').text(categories[news[newsid]['tag']]);
        $('#infobox').css({
            left: event.pageX + 40,
            top: event.pageY - 92
        }).fadeIn('fast');

        var x = $(this).attr('cx');
        var y = $(this).attr('cy');

        $('#threeD1 svg g line.link').each(function(index, el) {
            if ($(this).attr('x1') == x && $(this).attr('y1') == y) {
                $(this).attr('class', 'link active');
            } 
            else if ($(this).attr('x2') == x && $(this).attr('y2') == y) {
                $(this).attr('class', 'link active');
            }    
            else {
                $(this).hide();
            }        

        });
    })
    $('#threeD1 svg g').on('mouseout', 'circle', function(event) {
        event.preventDefault();
        $('#infobox').fadeOut('fast');

        var x = $(this).attr('cx');
        var y = $(this).attr('cy');

        $('#threeD1 svg g line.link').each(function(index, el) {
            if ($(this).attr('x1') == x && $(this).attr('y1') == y) {
                $(this).attr('class', 'link');
            } 
            else if ($(this).attr('x2') == x && $(this).attr('y2') == y) {
                $(this).attr('class', 'link');
            }
            else {
                $(this).show();
            }            
        });
    })

    function chooseDay(day){
        for (var i = 0; i < dayselect.length; i++) {
            dayselect[i] = 0;
        }
        dayselect[day] = 1;
        var mask = day;
        var tmp = parseFloat(1)/((axis['newsendtime'] - axis['newsbegintime'])/3600/24);
        d3.select('#threeD1 svg g').selectAll('rect').data([1]).transition().delay(200).duration(300).attr('transform', function(d){
            return 'translate(' + ((1024 - sidelength - 24) * tmp * mask + 24) + ',' + ((height1 - sidelength - 24) * tmp * mask + 24) + ')';
        });

        // 连线
        var lineindex = [];
        var tmp = axis['newsendtime'] - axis['newsbegintime'];
        for (var i = 0; i < coordLine.length; i++) {
            if (parseInt((coordLine[i][5] - axis['newsbegintime'])/3600/24) == mask) {
                lineindex.push(i);
            }
        }
        var lines = d3.select("#threeD1 svg g").selectAll('.link').data(lineindex, function(d) {
            return d;
        });
        lines.enter().append("line").attr({
            'x1': function(d, i){
                var x = (1024 - sidelength - 24) * (coordLine[d][5] - axis['newsbegintime']) / tmp;
                return parseInt(x + coordLine[d][0] + 24);
            },
            'y1': function(d, i){
                var y = (height1 - sidelength - 24) * (coordLine[d][5] - axis['newsbegintime']) / tmp;
                return parseInt(y + coordLine[d][1] + 24);
            },
            'x2': function(d, i){
                var x = (1024 - sidelength - 24) * (coordLine[d][5] - axis['newsbegintime']) / tmp;
                return parseInt(x + coordLine[d][2] + 24);
            },
            'y2': function(d, i){
                var y = (height1 - sidelength - 24) * (coordLine[d][5] - axis['newsbegintime']) / tmp;
                return parseInt(y + coordLine[d][3] + 24);
            },
            'stroke': '#666',
            'stroke-width': 1,
            'opacity': '0',
            'class': 'link'
        }).transition().delay(function(d, i){
            return 600 + i * 10;
        }).duration(function(d, i){
            return 300;
        }).attr('opacity', function(d, i){
            return coordLine[d][4];
        });
        lines.exit().transition().duration(300).attr({
            'opacity': '0'
        }).remove();

        // 画点
        var newsindex = [];
        for (var i = 0; i < news.length; i++) {
            if (parseInt((news[i]['timestamp'] - axis['newsbegintime'])/3600/24) == mask) {
                newsindex.push(i);
            }
        }
        var tmp = axis['newsendtime'] - axis['newsbegintime'];
        var circles = d3.select("#threeD1 svg g").selectAll('circle').data(newsindex, function(d) {
            return d;
        });
        circles.enter().append("circle").attr({
            'cx': function(d, i){
                var x = (1024 - sidelength - 24) * (news[d]['timestamp'] - axis['newsbegintime']) / tmp;
                return parseInt(x + coordPoint[d][0] + 24);
            },
            'cy': function(d, i){
                var y = (height1 - sidelength - 24) * (news[d]['timestamp'] - axis['newsbegintime']) / tmp;
                return parseInt(y + coordPoint[d][1] + 24) + 20;
            },
            'r': circleradius,
            "fill": function(d, i){
                return colors[news[d]['tag'].toString()];
            },
            'name': function(d){
                return d;
            },
            'fill-opacity': 1e-6
        }).transition().delay(400).duration(300).attr({
            'fill-opacity': function(d, i){
                return 1;
            },
            'cy': function(d, i){
                var y = (height1 - sidelength - 24) * (news[d]['timestamp'] - axis['newsbegintime']) / tmp;
                return parseInt(y + coordPoint[d][1] + 24);
            },
        });
        circles.exit().transition().duration(300).attr({
            'fill-opacity': 1e-6,
            'cy': function(d, i){
                var y = (height1 - sidelength - 24) * (news[d]['timestamp'] - axis['newsbegintime']) / tmp;
                return parseInt(y + coordPoint[d][1] + 24) + 20;
            },
        }).remove();
    }
});
</script>
{% endblock %}